---
export interface Props {
  items: Array<{ label: string; href?: string }>;
}

const { items } = Astro.props;
---

<nav aria-label="Breadcrumb" class="text-sm text-gray-500 mb-4">
  <ol class="inline-flex items-center space-x-2">
    {items.map((item, i) => (
      <li class="inline-flex items-center">
        {i > 0 && <span class="mx-2">/</span>}

        {item.href ? (
          <a href={item.href} class="hover:underline">
            {item.label}
          </a>
        ) : (
          <span class="text-gray-900">{item.label}</span>
        )}
      </li>
    ))}
  </ol>
</nav>